/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/.project
/storage/debugbar
Homestead.json
Homestead.yaml
.env
_ide_helper.php
123.jpg

/public/.htaccess
/public/robots.txt
/public/web.config
/public/.uini
/public/ErrorFiles/
/public/u.php
/public/up-rewrite.conf