	@media screen and (max-device-width: 480px) {
	  #divMain{
	  float: none;
	  width:auto;
	}
	  #divSidebar {
	  display:none;
    }
}

	* {
		margin: 0px auto;
		padding: 0px auto;
}
	body{
		font-family:"microsoft yahei" ;
}
 .nav{
 	width:100%;
 	height:100px;
 	background-image: url(../img/yourname.jpg);
 	background-repeat: no-repeat;
 	background-size:100% 100%;
 	padding-top:350px ;

 	
 	
 }
	
	table{
	width:100%;
	height:100px;
	font-size:60px ;
	color: white;
		background:rgba(0,0,0,.2);

	
	
	
}
	.order{
		border-radius:100px ;
	border:2px solid #4ABC96;
	margin-left:35%;
	width:30%;
	height:100px;
	font-size:45px;
	color:#4ABC96 ;
	margin-top:50px;
		background-color: white;
		
	}


	td{
		
		text-align: center;

	}
	
	.content1 .content2{
		margin-top:50px;
		
		
}
	
	.story{
		min-height:500px;
		width:90%;
		background-color: white;
		border:2px solid #D3D3D3 ;
		margin-top:40px ;
	}
	.user{
		min-height:500px;
		width:90%;
		background-color: white;
		border:2px solid #D3D3D3 ;
		margin-top:40px ;
	}

	.storycontent{
		width:100%;
		height:150px;
		
	}
	.usercontent{
		width:100%;
		height:150px;

	}

	.storyimg{
		width:120px;
		height:120px;
		margin-top:32px;
		float: left;
	  border-radius:60px ;
	  margin-left:20px ;
}
	.userimg{
		width:120px;
		height:120px;
		margin-top:32px;
		float: left;
		border-radius:60px ;
		margin-left:20px ;
	}

	.storymessage {
		margin-top: 32px;
		width:300px;
		height:120px;
		font-size:40px;
		float: left;
}
	.usermessage{
		margin-top: 32px;
		width:300px;
		height:120px;
		font-size:40px;
		float: left;
	}

	.storyzan {
		margin-top:32px;
		width:72px;
		height:120px;
		font-size:40px;
		float:right;
		margin-right:10px;
		background-repeat: no-repeat;
		background-image: url(../img/loveb.png);
		background-position-y:35px ;
	
}
	.storynumber {
		margin-top:32px;
		height:120px;
		line-height:120px;
		font-size:40px;
		float:right;
		margin-right:20px ;
		background-repeat: no-repeat;
}
	.number{
		margin-top:32px;
		height:120px;
		line-height:120px;
		font-size:40px;
		float:right;
		margin-right:20px ;
		background-repeat: no-repeat;
	}



	.userpicture{
		width:100%;
		
		
}
	
	.storyshare{
		font-size:30px ;
		float:right;
		width:160px;
		height:76px;
		line-height: 76px;
		background-image: url(../img/share.png);
		background-repeat: no-repeat;
		text-align: right;
		margin-right:120px ;
		font-size:40px ;
		
}
	.usershare{
		font-size:30px ;
		float:right;
		width:160px;
		height:76px;
		line-height: 76px;
		background-image: url(../img/share.png);
		background-repeat: no-repeat;
		text-align: right;
		margin-right:120px ;
		font-size:40px ;

	}
	.storyadd {
		font-size:40px ;
		float:right;
		width:160px;
		height:80px;
		line-height:80px;
		background-image: url(../img/coment.png);
		background-repeat: no-repeat;
		text-align: right;

}
	.useradd{
		font-size:40px ;
		float:right;
		width:160px;
		height:80px;
		line-height:80px;
		background-image: url(../img/coment.png);
		background-repeat: no-repeat;
		text-align: right;
		=
	}

	
	.storypinglun{
		width:90%;
		text-align: left;
		margin-bottom:30px ;
		margin-top: 100px;
		min-height:300px;
}
	.userpinglun{
		min-height:300px;
		width:90%;
		text-align: left;
		margin-bottom:30px ;
		margin-top: 100px;
	}

	.storyreadmore{
		width:100%;
		height:76px;
		font-size:45px;
		line-height:76px ;
		margin-top:30px;

	}
	.userreadmore{
		width:100%;
		height:76px;
		font-size:45px;
		line-height:76px ;

	}
	
	.storycoment {
		width:100%;
		color: #222222;
}
	.userconment{
		width:100%;
		color: #222222;
	}

	.findthing{
		position:fixed;
		bottom:0;
		background-image: url(../img/add.png);
		width:150px;
		height:150px;
		margin-left:45%;
		background-repeat: no-repeat;
		background-size: cover;
}
	
	.rollback{
		width:256px;
		height:256px;
		position:fixed;
		bottom:0;
		background-image: url(../img/backtop.png);
		margin-left:75%;
}
.pic{
	width:28%;
	margin-left:4%;
	height:width;
	}
	.zan {
		margin-top:32px;
		width:72px;
		height:120px;
		font-size:40px;
		float:right;
		margin-right:10px;
		background-repeat: no-repeat;
		background-image: url(../img/bal.jpg);
		background-position-y:35px ;
		background-size:100%;

	}
	.picture{
		margin-top: 30px;
	}
	.storypublish {
		width:100%;
		margin-top:20px;
		font-size:45px;
		min-height:45px;
		line-height:45px;
	}

	.userpublish{
		width:100%;
		margin-top:20px;
		font-size:45px;
		min-height:100px;
		line-height:45px;
	}
	.mycoment{
		font-size:25px;
		height:50px;

	}


